<html>

    <body>

        <form action="/docalculation" method="post">
        <input type="number" name="num1">
        <input type="number" name="num2">
        <input type="submit" value="calc">
        
        </form>

        <p> result = {{result}}</p>
    </body>
</html>