<html>



<body>

    <pre>
    <form action="/verify" method="get">
        USERNAME: <input type="text" name="uname" placeholder="username">
        PASSWORD: <input type="password" name="pwd" placeholder="password">
        <input type="submit" value="login">

    </form>
</pre>
</body>
</html>