<html>

    <body>
         <pre>
                <form action="/generatetable" method="get">

                   give number: <input type="number" name="num1">
                   <input type="submit"  value="submit">

               

                <table border="1">

                    {{#each rowdata}}
                    <tr>
                        <td>
                            {{this}}
                        </td>
                    </tr>
                    {{/each}}


                </table>
                 </form>

         </pre>

    </body>
</html>