

    <html>
        <head>
        <script>
                function firequery()
                {
                    const http = new XMLHttpRequest()

                    http.onload = function()
                    {
                        let jsonobj = JSON.parse(http.response)
                        console.log(http.response)
                        document.getElementById("p1").innerHTML = `(message: ${jsonobj.message})`
                        document.getElementById("p2").innerHTML = `(sender: ${jsonobj.sender})`
                    }
                    http.open("GET","http://localhost:5000/message")
                    http.send()


                }

                function firequery2()
                {
                    const http =  new XMLHttpRequest()
                    let n = document.getElementById("n1").value
                    let obj = {num : n}
                    http.onload=function()
                    {
                        let jsonobj = JSON.parse(http.response)
                        document.getElementById("p3").innerHTML = `square = ${jsonobj.sqr}`

                    }
                    http.open( "POST","http://localhost:5000/square")
                    http.setRequestHeader( "Content-Type" ,  "application/json")
                    http.send(JSON.stringify(obj))
                }

        </script>
        </head>
        <body>
            <input type="button"  value="getmessage" onclick='firequery()' />
            <br>

            <input type="number"  id="n1" />
            <input type="button" value="check sqr" onclick="firequery2()" />
            <p id="p1"></p>
            <p id="p2"></p>
            <p id="p3"></p>
        

        </body>
    </html>